<% provide(:title, "Sign in") %>


<% if flash[:error] %>
    <div><%= flash[:error] %></div>
<% end %>

<% if flash[:notice] %>
    <div><b></b><%= flash[:notice] %></b></div>
<% end %>
<!--<div class="alert alert-error">Invalid...</div> -->

<div>
  <div>
    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.submit "Sign in"%>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>