<% if flash[:error] %>
    <div><b><%= flash[:error] %></b></div>
<% end %>
<br/>
Forgot password. Please enter your email <br/>

<%= form_for(:forgot_password, :url => forgot_password_path, :host => "http://localhost") do |f| %>

    <%= f.label :email %>
    <%= f.text_field :email %>


    <%= f.submit "submit"%>
<% end %>

<% if flash[:error] %>
    <div><%= flash[:error] %></div>
<% end %>


<%= @test %>
<%= link_to 'Back', signin_path %>
