<%= form_for(:forgot_password, :url => change_password_path) do |f| %>
    Please enter a new password: <br/>
    <%= f.label :password %>
    <%= f.text_field :password %>
    <br/>
    <%= f.label :password_confirmation %>
    <%= f.text_field :password_confirmation %>

    <%= f.hidden_field :hidden, :value => @user_id%>
     <br/>
    <%= f.submit "submit"%> <br/>
    <% if flash[:error] %>
        <p><b><%= flash[:error] %></b></p>
    <% end %>
<% end %>
<br/>
