<p>
  <b></b><%= "Welcome #{@user.first_name} #{@user.last_name}!"    %> </b>
</p>

<p><b>Task Lists</b></p>

<% if @user.tasks.any? %>

<%else %>
  <p> No tasks. </p>
<% end %>

<p>Create a task:</p>
<%= form_for(@task) do |f| %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <br/>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <br/>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <br/>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <br/>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation %>
    <br/>
    <%= f.submit "Create user" %>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Sign out', signout_path %>
