<b>Task Lists</b>


<table>
<% @completed.each do |t| %>
    <tr>
      <td>
        <%= t.description %>
      </td>
    </tr>
<% end %>

  <% @not_completed.each do |t| %>
      <tr>
        <td>
          <%= t.description %>
        </td>
      </tr>
  <% end %>
</table>


<hr>

<p>Create a task:</p>

<%= form_for(:task, :url => tasks_path) do |f| %>
    <%= f.text_field :description%>
    <%= f.hidden_field :hidden, :value => @user.id%>
    <br/>
    <%= f.submit "Submit"%> <br/>
<% end %>


