<b>Task Lists</b>

<% if @user.tasks.not_completed.any?  %>
    <table>
      <tr>
        <th align="left" width="300">Task</th>
      </tr>

      <% if @edit%>

          <%= render 'users/edit_tasks' %>

          </table>
      <% else %>
          <%= render 'users/task' %>
          </table>
          <%=link_to "Edit Tasks", user_path(:edit=> "true")%>
      <% end %>

<%else %>
  <p> No tasks. </p>
<% end %>

<hr>

<p><b>Finished</b></p>

<% if @user.tasks.completed.any?  %>
    <table>
      <tr>
        <th align="left" width="300">Task description</th>
      </tr>
      <%= render 'users/completed_task' %>
    </table>
<%else %>
    <p> No tasks. </p>
<% end %>

<hr>

<p>Create a task:</p>

<%= form_for(:task, :url => tasks_path) do |f| %>
    <%= f.text_field :description%>
    <%= f.hidden_field :hidden, :value => @user.id%>
    <br/>
    <%= f.submit "Submit"%> <br/>
<% end %>


